# Metadata

```
Course:   DS 5001
Module:   03 Lab
Topic:    HW Example
Author:   R.C. Alvarado
```

## Configure

In [1]:
data_home = '../data'

In [2]:
OHCO = ['book_id', 'chap_num', 'para_num', 'sent_num', 'token_num']
text_file = f'../data/gutenberg/pg42324.txt' # Generated in HW 02

In [3]:
ngram_size = 3
k = .5 # Add-k Smoothing parameter

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.core.display import HTML

In [5]:
import sys
sys.path.append("../lib/")

In [6]:
from textimporter import TextImporter

In [7]:
ohco_pats = [
    ('chap', r"^\s*(?:PREFACE\.|LETTER |CHAPTER )", 'm')
]

In [8]:
clip_pats = [
    r"\*\*\* START OF THIS PROJECT GUTENBERG EBOOK FRANKENSTEIN",
    r"\*\*\* END OF THIS PROJECT GUTENBERG EBOOK FRANKENSTEIN"
]

In [9]:
franky = TextImporter("../data/gutenberg/pg42324.txt", ohco_pats=ohco_pats, clip_pats=clip_pats)

In [10]:
franky.import_source().parse_tokens()

Importing  ../data/gutenberg/pg42324.txt
Clipping text
Parsing OHCO level 0 chap_id m by milestone ^\s*(?:PREFACE\.|LETTER |CHAPTER )
line_str
Parsing OHCO level 1 para_num d by delimitter \n\n
Parsing OHCO level 2 sent_num d by delimitter [.?!;:]+
Parsing OHCO level 3 token_num d by delimitter [\s',-]+

In [11]:
franky.extract_vocab();

In [12]:
franky.TOKENS

                                        token_str      term_str
chap_id para_num sent_num token_num
1       0        0        0                   The           the
                          1                 event         event
                          2                    on            on
                          3                 which         which
                          4                  this          this
...                                           ...           ...
29      88       0        7          Frankenstein  frankenstein
                          8                    by            by
                          9                  Mary          mary
                          10                    W             w
                 1        1               Shelley       shelley

[76359 rows x 2 columns]

In [13]:
franky.VOCAB

                   n  n_chars         p             s          i         h
term_str
the             4252        3  0.055684     17.958373   4.166585  0.232013
and             2993        3  0.039196     25.512529   4.673134  0.183170
i               2861        1  0.037468     26.689619   4.738207  0.177530
of              2687        2  0.035189     28.417938   4.828730  0.169918
to              2123        2  0.027803     35.967499   5.168622  0.143703
...              ...      ...       ...           ...        ...       ...
precautions        1       11  0.000013  76359.000000  16.220511  0.000212
counsellors        1       11  0.000013  76359.000000  16.220511  0.000212
devilish           1        8  0.000013  76359.000000  16.220511  0.000212
gesticulations     1       14  0.000013  76359.000000  16.220511  0.000212
ban                1        3  0.000013  76359.000000  16.220511  0.000212

[7039 rows x 6 columns]

In [14]:
sents = franky.gather_tokens(2).sent_str.to_list()

In [15]:
vocab = franky.VOCAB.index.to_list()

In [16]:
from langmod import NgramCounter, NgramLanguageModel